[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-space"]
	path = bundle/vim-space
	url = https://github.com/spiiph/vim-space.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = httt://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/custom-text-obj"]
	path = bundle/custom-text-obj
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = git://github.com/nelstrom/vim-visual-star-search.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "Zenburn"]
	path = Zenburn
	url = https://github.com/jnurmine/Zenburn.git
